
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    height: 100vh;
    width: 100vw;
}
/* all icons-size */
i{
    font-size: 125%;
}

/* header */
header{
    height:5vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    text-align: center;
    font-weight: 700;
    font-size: 80%;
    z-index: 6;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0,0.2);
}
header img{
    height: 4vh;
    object-fit: contain;
}
header{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
header p{
    font-weight: 600;
    font-size: 120%;
}
/* side-bar-style */
body{
    position: relative;
}
#side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 3;
    background-color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(128, 128, 128,.8);
    height:40em;
    width: 80vw;
    position: absolute;
    bottom:6vh;
    transition: 1s;
    position: fixed;
    border: 5px solid antiquewhite;
}

.side-bar-show{
    left:-80vw;
    transition: 1s;
}
#side-bar >h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    width: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
#notify-list{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#notify-list li{
    padding: 10px;
    margin-left:10px;
    width: 95%;
    border-radius: 8px;
    list-style:none;
    background-color: antiquewhite;
}
/* nav-bar-style */
nav{
    height:5vh;
    width: 100%;
    background-color:white;
    position: fixed;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0,0.2);
}

/* main-sections */

#main-content{
    position: relative;
    top: 40px;
    width: 100vw;
}

/* all-sections */
.section-1{
    background-color: white;
    width: 100%;
    height: 150vh;
    position: absolute;
}
.section-2{
    background-color: white;
    width: 100%;
    height: 150vh;
    position: fixed;    
}
.section-3{
    background-color:white;
    width: 100%;
    height: 100vh;
    position:fixed;
 }

 .section-4{
    background-color:white;
    width: 100%;
    height: 100vh;
    position:fixed;
 }

 /* section - 1 ****     banner   ****** */
.banner{
    width: 85%;
    display: flex;
    margin: 20px;
    border:none;
    position: relative;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgb(128, 128, 128,.5);
}
.banner h3{
    text-shadow: 1px 1px 8px  rgb(128, 128, 128,.3);
}
.banner p{
    margin:5px;
    font-size: 14px;
}

.banner >section{
    width: 100%;
    padding: 2px;

}
.banner >img{
    width: 100px;
    height:100px;
    object-fit: contain;
}
.banner button{
    width: 80%;
    background-color:blanchedalmond;
    padding: 2px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(128, 128, 128,.5);
}

/* donation-page */
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 h3{
    margin: 0 10px;
    box-shadow:1px 1px 5px 1px rgb(128, 128, 128,.5);
    width: 80%;
    color: grey;
    margin-left:10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.section-1 form{
    margin-top: 2vh;
    min-height: 90%;
    width: 95%;
    border-radius: 10px;
    background-color:rgb(250, 235, 215,.6);
    box-shadow:1px 1px 5px 1px rgb(124, 128, 121);
    
    display: flex;
    flex-direction: column;
    padding:0 10px;
    gap:10px;
}

.tex{
    padding:2px 5px;
    border-radius: 4px;
    border:none;
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0,0.2);
    outline: none;
}

.tex:focus{
    border:1.5px solid green;
}

.tex-area{
    min-height: 15%;
    padding:2px 5px;
    border-radius: 4px;
    border:none;
    box-shadow: 1px 1px 5px 2px rgb(0, 0, 0,0.2);
    outline: none;

}

.tex-area:focus{
    border:1.5px solid green;
}

.section-1 form button{
    width: 50%;
    height: 40px;
    background-color: rgb(0, 128, 0,.8);
    color: white;
    margin-top:5px;
    margin-left: 24%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 1px grey;
}

#warning{
    width: 80%;
    height: 5vh;
    color: red;
    margin-top:5px;
    margin-left: 24%;    
}

.section-1 form button:active{
    border: 2px solid ;
}
.section-1 >form label>span{
    color: red;
}
 /*receives - page  */
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .section-3 ul{
    margin-top: 2vh;
    width: 95%;
    max-height: 80%;
    border-radius: 10px;
    background-color:rgb(250, 235, 215,.8);
    box-shadow:1px 1px 5px 1px rgb(124, 128, 121,.6);   
    display: flex;
    flex-direction: column;
    padding:40px 10px;
    gap:10px;
    position: relative;
    overflow-y: scroll;
 }
 .section-3 ul::-webkit-scrollbar{
    display: none;
 }

 .section-1 form::-webkit-scrollbar{
    display: none;
 }
.section-3 h3{
    margin: 0 10px;
    box-shadow:1px 1px 5px 1px rgb(128, 128, 128,.5);
    width: 80%;
    height: 30px;
    color: grey;
    background-color:antiquewhite;
    margin-left:8%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    font-weight: 600;
}
.section-3 ul li >p{
    font-weight:500;
}
.section-3 ul li span{
    margin-left: 15px;
}
.section-3 ul li{
    list-style: none;
    box-shadow:1px 1px 3px 1px rgb(124, 128, 121,.5);
    width: 100%;
    max-height: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.section-3 ul{
    font-weight:500;
}
.section-3 summary{
    padding: 5px;
    width: 98%;
    overflow-wrap: break-word;
}

.section-3 summary details label{
    font-weight:500;
    
}
.section-3 summary details span > p{
    width: 100;
}

.section-3 summary details{
    display: flex;
    flex-direction: column;
}



/* profile- page */
.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}
.profile-{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.profile-img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color:rgb(128, 128, 128,.3);
}

.profile-info{
    width: 90%;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0,.2);
    background-color: rgb(250, 235, 215,.6);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:20px;   
}
.profile-info p{
    font-weight: 500;
}
.profile-info span{
    margin-left: 10px;
}
.profile-content a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color:red;
    text-shadow: 1px 1px 3px 1px grey;

}
.profile-{
    padding: 10px;    
}

#notify-btn >span{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    visibility: hidden;
}


.banner-2{
    margin-top: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 25px;
    margin: auto;

}
.banner-2 button{
    width: 50%;
    background-color:blanchedalmond;
    padding: 2px;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(128, 128, 128,.5);
}
.banner-2 p{
    margin: 10px 0;
}

.banner-2 section{
border-radius: 8px;
padding: 10px;
width: 100%;
border: none;
box-shadow:1px 1px 5px 1px rgb(128, 128, 128,.5);
}

.banner-2 h1{
    font-size: 140%;
    font-weight: 500;
    margin: 15px 0;
}
#desktop-veiw-warning{
    visibility: hidden;
}
@media (min-width:500px) {
    *{
        visibility: hidden;
    }
    .section-2{
        visibility: visible;
        width: 100vw;
        height: 90vh;
        position: relative;
}
    #desktop-veiw-warning{
        visibility: visible;
        width: 100vw;
        position:absolute;
        top: 5vh;
        left: 25%;
        font-size: 150%;
    }
}